PyJWT
Requests==2.32.3
apache-airflow[celery]==2.10.1
auto_mix_prep==0.2.0
fastapi
grafana
httpx
jwt
kaggle==1.6.14
keras-tuner
keras==2.13.1
mlflow
numpy==1.23.5
pandas==2.2.2
pipreqs==0.5.0
prometheus-client
prometheus_client
pydantic
pytest
pytest-asyncio
python-dotenv
python-multipart
scikit-learn
seaborn
streamlit==1.37.1
streamlit-cookies-manager
tensorflow==2.13.1
uvicorn