#python-dotenv
#pipreqs==0.5.0
kaggle==1.6.14
keras==2.13.1
numpy==1.23.5
tensorflow==2.13.1
scikit-learn
mlflow
uvicorn
python-multipart
fastapi
#dvc
#apache-airflow

prometheus-client
pydantic
seaborn
keras-tuner
#streamlit==1.37.1
jwt
grafana